# Thu vien cai dat
node_modules
dist
dist-ssr
*.local

# File bi mat - KHONG day len GitHub
.env
.env.local
.env.*.local

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / He dieu hanh
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?